body {
    background-color: gainsboro;
    font-size: 21px;
    color: blueviolet;
    accent-color: #000;

}
h1 {
    font-size: 78px;
}
h3{
    font-size: 28px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}